# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias open='xdg-open'
alias rm='trash'
alias vim='nvim'
alias vi='nvim'
alias tree='tree -I "node_modules|venv|vendor"'
alias top='htop'
alias cat='bat'
alias python='python3'
alias c='clear'
alias g++='g++-10'
alias gcc='gcc-10'
alias mux='tmuxinator'
alias work='tmuxinator'
alias text='figlet -f slant'
alias toclip='xclip -selection clipboard'
alias vide='~/Downloads/neovide'
alias config='/usr/bin/lazygit -g dotconfig -w /home/chachi'
